# Symlink to ~/.config/ghostty/config
# Default is ~/Library/Application\ Support/com.mitchellh.ghostty/config
# See <https://ghostty.org/docs/config#file-location>

#
#   Appearance
#

theme = light:xcodelighthc,dark:xcodedarkhc

shell-integration-features = no-cursor
cursor-style = block

background-opacity = 0.9
background-blur-radius = 20
#background = ffffff

unfocused-split-opacity = 0.6
#unfocused-split-fill = ffffff

#font-family = Menlo Regular
font-family = 0xProto
font-size = 13

# Possible values: official, blueprint, chalkboard, microchip, glass,
# holographic, paper, retro, xray.
macos-icon = xray

window-padding-x = 5
window-padding-balance = true


#
#   Window control
#

# quick-terminal
quick-terminal-position = center
quick-terminal-animation-duration = 0.12
keybind = global:ctrl+opt+`=toggle_quick_terminal

# "zoom" the current pane in/out
keybind = cmd+shift+o=toggle_split_zoom


#
#   Navigation
#

# page_up/page_down without needing cmd
keybind = page_up=scroll_page_up
keybind = page_down=scroll_page_down

# next/previous split w/ cmd arrow (default is start/end of line)
keybind = super+right=goto_split:next
keybind = super+left=goto_split:previous


#
#   Disable defaults
#

macos-secure-input-indication = false

# todo map cmd+. to ctrl-c (doesn't work)
#keybind = cmd+.=text:\x1b

# ghostty is eating opt+` (Raycast search files) when app is frontmost
# this doesn't fix it:
#keybind = unconsumed:opt+`=unbind

# ligatures
font-feature = -calt
# font-feature = -liga
# font-feature = -dlig
