# Symlink to ~/.config/ghostty/config
# Default is ~/Library/Application\ Support/com.mitchellh.ghostty/config
# File locations: <https://ghostty.org/docs/config#file-location>
# Config reference: <https://ghostty.org/docs/config/reference>

#
#   Application
#

# https://ghostty.org/docs/config/reference#macos-titlebar-style
# "tabs" saves vertical space, but removes the window proxy icon and dragging
# affordance. I'll miss the former somewhat, but not the latter with Moom, which
# enables drag from anywhere with `fn`.
macos-titlebar-style = tabs

macos-secure-input-indication = false

# Possible values: official, blueprint, chalkboard, microchip, glass,
# holographic, paper, retro, xray.
#macos-icon = xray
#macos-icon = blueprint


#
#   Appearance
#

# Choose via `ghostty +list-themes`
theme = light:Xcode Light hc, dark:Xcode Dark hc

cursor-style = block
cursor-color = Light Slate Gray

# ligatures
# font-feature = -calt
# font-feature = -liga
# font-feature = -dlig

background-opacity = 0.9
background-blur-radius = 30

unfocused-split-opacity = 0.6
#unfocused-split-fill = ffffff

font-family = Menlo Regular
# font-family = 0xProto
font-size = 13


#
#   Ghostty-specific features
#
shell-integration-features = no-cursor

# quick-terminal
quick-terminal-position = center
quick-terminal-animation-duration = 0.12
keybind = global:ctrl+opt+1=toggle_quick_terminal



#
#   Windows/panes
#

window-padding-x = 5
window-padding-balance = true

# "zoom" the current pane in/out
keybind = cmd+shift+o=toggle_split_zoom

# next/previous split w/ cmd arrow (default is start/end of line)
keybind = super+right=goto_split:next
keybind = super+left=goto_split:previous


focus-follows-mouse = true
# If true, when there are multiple split panes, the mouse selects the pane
# that is focused. This only applies to the currently focused window; e.g.
# mousing over a split in an unfocused window will not focus that split
# and bring the window to front.


#
#   Other key bindings
#

# page_up/page_down without needing cmd
keybind = page_up=scroll_page_up
keybind = page_down=scroll_page_down

# cmd+period -> ctrl+c
keybind = cmd+period=text:\x03

# ghostty is eating opt+` (Raycast search files) when app is frontmost
# this doesn't fix it:
#keybind = unconsumed:opt+`=unbind

# Fix sending shift+enter for Claude Code
keybind = shift+enter=text:\x1b\r

# Open scrollback as a text file
keybind = cmd+f=write_scrollback_file:open
